[global.config]
as = DEVENV_BGP_ASN
router-id = "DEVENV_BGP_ADDR"

[global.use-multiple-paths.config]
  enabled = true

[[neighbors]]
  [neighbors.config]
    neighbor-address = "NODE0_ADDR"
    peer-as = NODE0_ASN
  [[neighbors.afi-safis]]
    [neighbors.afi-safis.config]
      afi-safi-name = "ipv4-unicast"
[[neighbors]]
  [neighbors.config]
    neighbor-address = "NODE1_ADDR"
    peer-as = NODE1_ASN
  [[neighbors.afi-safis]]
    [neighbors.afi-safis.config]
      afi-safi-name = "ipv4-unicast"
[[neighbors]]
  [neighbors.config]
    neighbor-address = "NODE2_ADDR"
    peer-as = NODE2_ASN
  [[neighbors.afi-safis]]
    [neighbors.afi-safis.config]
      afi-safi-name = "ipv4-unicast"
[[neighbors]]
  [neighbors.config]
    neighbor-address = "NODE3_ADDR"
    peer-as = NODE3_ASN
  [[neighbors.afi-safis]]
    [neighbors.afi-safis.config]
      afi-safi-name = "ipv4-unicast"

[zebra]
 [zebra.config]
   enabled = true
   url = "unix:/var/run/frr/zserv.api"
   version = 6
