*/target
*.profraw
*.pcap
*.pcaping
.vscode
*.bin
*/bin
/bin
*/*.pem
*/*.cert
*/*.key
staticd.conf
gobgp.conf
logs*
devenv/.lab.yaml.bak
devenv/clab-sart
e2e/controller/manifests/addresspool.yaml
e2e/controller/manifests/another_addresspool.yaml
e2e/controller/manifests/peer.yaml
controller/config/samples/_v1alpha1_bgppeer.yaml
controller/config/samples/_v1alpha1_addresspool.yaml

manifests/certs/*
manifests/webhook/validating_webhook_patch.yaml
