*/target
*.profraw
*.pcap
*.pcaping
.vscode
*.bin
/bin
/e2e/bin
**/*.pem
**/*.cert
**/*.key
logs*
**/target
sart.yaml

**/e2e.test
e2e/topology/.*.yaml.bak
e2e/topology/kubernetes-cni*.yaml
e2e/topology/kubernetes-cni-compact.yaml
e2e/clab-sart

manifests/base/certs/*
manifests/webhook/admission_webhook_patch.yaml
