apiVersion: sart.terassyi.net/v1alpha1
kind: BGPPeer
metadata:
  name: worker-peer
  namespace: kube-system
spec:
  node: sart-worker
  peerAsn: EXTERNAL_BGP_ASN
  peerRouterId: EXTERNAL_BGP_ADDR
---
apiVersion: sart.terassyi.net/v1alpha1
kind: BGPPeer
metadata:
  name: worker2-peer
  namespace: kube-system
spec:
  node: sart-worker2
  peerAsn: EXTERNAL_BGP_ASN
  peerRouterId: EXTERNAL_BGP_ADDR
---
apiVersion: sart.terassyi.net/v1alpha1
kind: BGPPeer
metadata:
  name: worker3-peer
  namespace: kube-system
spec:
  node: sart-worker3
  peerAsn: EXTERNAL_BGP_ASN
  peerRouterId: EXTERNAL_BGP_ADDR
---
apiVersion: sart.terassyi.net/v1alpha1
kind: BGPPeer
metadata:
  name: cp-peer
  namespace: kube-system
spec:
  node: sart-control-plane
  peerAsn: EXTERNAL_BGP_ASN
  peerRouterId: EXTERNAL_BGP_ADDR
