apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: sart-validating-webhook-configuration
webhooks:
- name: vbgppeer.kb.io
  clientConfig:
    caBundle: "%CACERT%"
- name: vbgpadvertisement.kb.io
  clientConfig:
    caBundle: "%CACERT%"
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: sart-mutating-webhook-configuration
webhooks:
- name: mbgppeer.kb.io
  clientConfig:
    caBundle: "%CACERT%"
- name: mservice.kb.io
  clientConfig:
    caBundle: "%CACERT%"
